[submodule "thirdparty/haste"]
	path = thirdparty/haste
	url = https://github.com/viciopoli01/haste.git
[submodule "thirdparty/rpg_e2vid"]
	path = thirdparty/rpg_e2vid
	url = git@github.com:uzh-rpg/rpg_e2vid.git
